flows/gdp_ingestion.yml
id: gdp_forecast_ingestion
namespace: gdp_forecast
description: |
  Pull real GDP (GDPC1) from FRED API, stage in GCS, load into BigQuery.
  Schedule: quarterly after BEA release (~end of Jan, Apr, Jul, Oct).
  Can also be triggered manually.

labels:
  project: gdp-forecast
  layer: ingestion

inputs:
  - id: fred_series_id
    type: STRING
    defaults: "GDPC1"
    description: "FRED series ID — GDPC1 is Real GDP (billions of chained 2017 dollars)"

variables:
  gcp_project: "YOUR_PROJECT_ID"
  gcs_bucket: "gdp-forecast-raw-YOUR_PROJECT_ID"
  bq_dataset: "gdp_forecast_dev"
  bq_table: "raw_real_gdp"

triggers:
  # Quarterly schedule — runs on the 1st of Feb, May, Aug, Nov
  # (gives a few days buffer after typical BEA advance estimate release)
  - id: quarterly_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 6 1 2,5,8,11 *"

tasks:
  # ------------------------------------------------------------------
  # 1. Fetch GDP data from FRED API
  # ------------------------------------------------------------------
  - id: fetch_gdp_from_fred
    type: io.kestra.plugin.scripts.python.Script
    containerImage: python:3.12-slim
    beforeCommands:
      - pip install fredapi pandas
    script: |
      import pandas as pd
      from fredapi import Fred
      from datetime import datetime, timezone

      fred_api_key = "{{ secret('FRED_API_KEY') }}"
      series_id = "{{ inputs.fred_series_id }}"

      # Fetch GDP data using FRED Python API
      fred = Fred(api_key=fred_api_key)
      gdp_data = fred.get_series(series_id)

      # Convert to DataFrame
      gdp_df = pd.DataFrame(gdp_data, columns=['real_gdp'])
      gdp_df.index.name = 'observation_date'
      gdp_df = gdp_df.reset_index()

      # Add ingestion metadata
      gdp_df['observation_date'] = gdp_df['observation_date'].dt.date
      gdp_df['ingested_at'] = datetime.now(timezone.utc).isoformat()
      gdp_df['source_file'] = ''  # populated after GCS upload

      # Drop any NaN rows (fredapi returns NaN instead of ".")
      gdp_df = gdp_df.dropna(subset=['real_gdp'])

      print(f"Fetched {len(gdp_df)} observations from FRED series {series_id}")
      print(f"Date range: {gdp_df['observation_date'].min()} to {gdp_df['observation_date'].max()}")

      # Write to CSV for downstream tasks
      output_path = "gdp_raw.csv"
      gdp_df.to_csv(output_path, index=False)

    outputFiles:
      - "gdp_raw.csv"

  # ------------------------------------------------------------------
  # 2. Upload raw CSV to GCS
  # ------------------------------------------------------------------
  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ outputs.fetch_gdp_from_fred.outputFiles['gdp_raw.csv'] }}"
    to: "gs://{{ vars.gcs_bucket }}/fred/gdpc1/{{ trigger.date ?? now() | date('yyyy-MM-dd_HHmmss') }}/gdp_raw.csv"
    serviceAccount: "{{ secret('GCP_SERVICE_ACCOUNT_KEY') }}"
    projectId: "{{ vars.gcp_project }}"

  # ------------------------------------------------------------------
  # 3. Load from GCS into BigQuery (truncate + reload full series)
  # ------------------------------------------------------------------
  - id: load_to_bigquery
    type: io.kestra.plugin.gcp.bigquery.LoadFromGcs
    from:
      - "{{ outputs.upload_to_gcs.uri }}"
    destinationTable: "{{ vars.gcp_project }}.{{ vars.bq_dataset }}.{{ vars.bq_table }}"
    format: CSV
    csvOptions:
      skipLeadingRows: 1
    writeDisposition: WRITE_TRUNCATE
    serviceAccount: "{{ secret('GCP_SERVICE_ACCOUNT_KEY') }}"
    projectId: "{{ vars.gcp_project }}"

  # ------------------------------------------------------------------
  # 4. Validate the load
  # ------------------------------------------------------------------
  - id: validate_load
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      SELECT
        COUNT(*) as row_count,
        MIN(observation_date) as earliest,
        MAX(observation_date) as latest,
        ROUND(AVG(real_gdp), 2) as avg_gdp
      FROM `{{ vars.gcp_project }}.{{ vars.bq_dataset }}.{{ vars.bq_table }}`
    serviceAccount: "{{ secret('GCP_SERVICE_ACCOUNT_KEY') }}"
    projectId: "{{ vars.gcp_project }}"
    fetchOne: true

  - id: log_validation
    type: io.kestra.plugin.core.log.Log
    message: |
      Ingestion complete:
        Rows loaded: {{ outputs.validate_load.row.row_count }}
        Date range:  {{ outputs.validate_load.row.earliest }} → {{ outputs.validate_load.row.latest }}
        Avg GDP:     {{ outputs.validate_load.row.avg_gdp }}